{% extends 'base.html' %}
{% load static %}

{% block additional_styles %}
    <link rel="stylesheet" href="{% static 'css/singleproject.css' %}">
{% endblock %}

{% block additional_scripts %}
    <script src="{% static 'js/singleproject.js' %}" defer></script>
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <section class='main-content'>
        {% if project.owner == request.user %}
            <div id='settings-container'>
                <i class="bi bi-gear" onclick='showFlex("settings")'></i>
            </div>
        {% endif %}


       <div id='grid-table-container'>
            {% for table_data in data %}
            <div class='single-table'>
                <h1>{{ table_data.0 }}</h1>
                <div class='new-task-table'>
                    <i class="bi bi-plus-circle" onclick="newTask('new-task', '{{ table_data.0 }}', '{{ table_data.0.id }}')"></i>
                </div>  

                {% for task_day in table_data.1.items %}
                    <div class='task-day'>
                        <h2>{{ task_day.0 }}</h2>
                        <hr>

                        {% for task in task_day.1 %}
                            <div id='tb{{table_data.0.id}}-tk{{task.id}}' class='single-task' style='border-color:{{task.color}}'>  
                                <!-- Content of task that is always visible -->
                                <div class='quick-content-task'>
                                    <!-- Title & end hour of task -->
                                    <h3>{{ task.title }} [{{ task.hour|time:"H:i"  }}]</h3>
                                    {% if task.assigned_to %}
                                        <p>for {{ task.assigned_to }}</p>
                                    {% else %}
                                        <p>for all</p>
                                    {% endif %}
                                    <!-- Control buttons of task -->
                                    <div>
                                        <div>
                                            <i class="extend-button bi bi-arrow-down" onclick='extendTask("tb{{table_data.0.id}}-tk{{task.id}}")'></i>
                                        </div>
                                    </div>
                                </div>

                                <!-- Content of task that is shows when user click on arrow in quick-content-task -->
                                <div class='extended-content-task'>
                                    <p>{{ task.description }}</p>

                                    <div class='control-buttons'>
                                        <div>
                                            <a href='{% url "singleproject_done" task.id %}'>
                                                <i class="bi bi-check"></i>
                                            </a>
                                        </div>
                                        <div>
                                            <a href='{% url "singleproject_delete" task.id %}'>
                                                <i class="bi bi-trash"></i>
                                            </a>
                                        </div>
                                    </div>   
                                </div>    
                            </div>
                        {% endfor %}

                    </div>
                {% endfor %}

            </div>
            {% endfor %}
        
       </div>

       <div id='new-table-button-container'>
            <i class="bi bi-plus-circle" onclick="showFlex('new-project-container')"></i>
        </div>
        
        <div id='settings'>
            <i class="bi bi-x-lg close-button"></i>
            
            <div id='settings-tile'>
                <h2>{{ project }}</h2>
                <div id='settings-content'>
                    <ul class='settings-list'>
                        <p>Info:</p>
                        <li>Owner: {{ project.owner }}</li>
                        <li>Created on: {{ project.creation_date }}</li>
                    </ul>

                    <ul class='settings-list'>
                        <p>Members:</p>
                        {% for member in members_list %}
                            <li>{{ member }}</li>
                        {% endfor %}
                    </ul>

                    <ul class='settings-list'>
                        <p>Invite user:</p>
                        <input type='user-search' type='text'>
                        <button>Add user</button>
                    </ul>
                </div>
            </div>    
        </div>    

        <div id='new-project-container'>
            <i class="bi bi-x-lg close-button"></i>
    
            <form id='new-project-form' method='POST'>
                {% csrf_token %}
                <h3>New project</h3>
                <hr>
                {{ NewProjectTableForm }}
                <button type='submit'>Send</button>
            </form>
        </div>
        
        <div id='new-task' class='create-task'>
            <i class="bi bi-x-lg close-button"></i>
            <form action="{% url 'singleproject_new' project.id %}" method='POST'>
                {% csrf_token %}
                <h1 id='new-task-title'>a</h1>
                {{ form.table_id }}

                {{ form.title }}
                {{ form.description }}

                <div class='date-form'>
                    {{ form.date }}
                    {{ form.hour }}
                </div>  

                <div class='color-border-form'>
                    <h3>Color border</h3>
                    <div id='color-container'>
                        {% for choice in form.color %}
                            <div class='radio-button-container'>
                                {{ choice.tag }}<span class="visible-radio"></span>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div id='submit-container'>
                    <button type='submit'>Send</button>
                </div>
            </form>    
        </div>
    </section>   
{% endblock %}