{% extends 'base.html' %}
{% load static %}

{% block additional_styles %}
    <link rel="stylesheet" href="{% static 'css/singleproject.css' %}">
{% endblock %}

{% block additional_scripts %}
    <script src="{% static 'js/singleproject.js' %}" defer></script>
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <section class='main-content'>
       <div id='grid-table-container'>

            {% for table_data in data %}
            <div class='single-table'>
                <h1>{{ table_data.0 }}</h1>

                {% for task_day in table_data.1.items %}
                    <div class='task-day'>
                        <h2>{{ task_day.0 }}</h2>
                        <hr>

                        {% for task in task_day.1 %}
                            <div id='tb{{table_data.0.id}}-tk{{task.id}}' class='single-task' style='border-color:{{task.color}}'>
                                <!-- Content of task that is always visible -->
                                <div class='quick-content-task'>
                                    <!-- Title & end hour of task -->
                                    <h3>{{ task.title }} [{{ task.hour|time:"H:i"  }}]</h3>
                                    {% if task.assigned_to %}
                                        <p>for {{ task.assigned_to }}</p>
                                    {% else %}
                                        <p>for all</p>
                                    {% endif %}
                                    <!-- Control buttons of task -->
                                    <div>
                                        <div>
                                            <i class="extend-button bi bi-arrow-down" onclick='extendTask("tb{{table_data.0.id}}-tk{{task.id}}")'></i>
                                        </div>
                                    </div>
                                </div>

                                <!-- Content of task that is shows when user click on arrow in quick-content-task -->
                                <div class='extended-content-task'>
                                    <p>{{ task.description }}</p>

                                    <div class='control-buttons'>
                                        <div>
                                            <a href='{% url "singleproject_done" task.id %}'>
                                                <i class="bi bi-check"></i>
                                            </a>
                                        </div>
                                        <div>
                                            <a href=''>
                                                <i class="bi bi-trash"></i>
                                            </a>
                                        </div>
                                    </div>   
                                </div>    
                            </div>
                        {% endfor %}

                    </div>
                {% endfor %}

            </div>
            {% endfor %}
        
       </div>
    </section>   
{% endblock %}