{% extends 'base.html' %}
{% load static %}

{% block additional_styles %}
    <link rel="stylesheet" href="{% static 'css/todoproject.css' %}">
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <section class='main-content'>
        <div id='grid-proj-container'>
            {% for data in projects_with_table %}
                <a href='{% url "singleproject" data.0.id %}'>
                    <div class='proj-tile'>
                    <h2>{{ data.0 }}</h2>
                    <hr>
                    <ul>
                        {% if not data.1 %}
                            <p>project does not have any table :(</p>
                        {% endif %}

                        {% for table in data.1 %}
                            <li>{{ table }}</li>
                        {% endfor %}
                    </ul> 
                    <p>{{ data.0.owner }}</p> 
                    </div>
                </a>
            {% endfor %}
        </div>

        <div id='buttons-container'>
            <div id='notification-container'>
                <p>2</p>
                <i class="bi bi-bell" onclick="showFlex('notifications-tile')"></i>
            </div>
            <div>
                <i class="bi bi-plus-circle" onclick="showFlex('new-project-container')"></i>
            </div>
        </div>    
    </section> 

    <!-- New project form (with blur for the whole page) -->
    <div id='new-project-container'>
        <i class="bi bi-x-lg close-button"></i>

        <form id='new-project-form' method='POST'>
            {% csrf_token %}
            <h3>New project</h3>
            <hr>
            {{ NewProjectForm }}
            <button type='submit'>Send</button>
        </form>
    </div>
    
    <!-- Side tile with notifications -->
    <div id='notifications-tile'>
        <i class="bi bi-x-lg close-button"></i>

        <div id='notification-content'>
            <h3>Project notifications</h3>
            <hr>

            {% for notification in notifications %}
                {% if notification.notification == 'invited' %}
                    <div class='notification notification-question'>
                        <p>{{ notification }}</p>
                        <div class='cicle notification-accept'><i class="bi bi-check"></i></div>
                        <div class='cicle notification-decline'><i class="bi bi-x-lg"></i></div>
                    </div>
                {% else %}
                    <div class='notification'>
                        <p>{{ notification }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>    
{% endblock %}