{% extends 'base.html' %}
{% load static %}

{% block additional_styles %}
    <link rel="stylesheet" href="{% static 'css/todoproject.css' %}">
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <section class='main-content'>
        <div class='proj-tile'>
            <h2>title</h2>
            <hr>
            <ul>
                <li>1/2 closest task</li>
                <li>1/2 closest task</li>   
            </ul>   
            <p>Proj owner</p> 
        </div>
        <div class='proj-tile'>
            <h2>title</h2>
            <hr>
            <ul>
                <li>1/2 closest task</li>
                <li>1/2 closest task</li>   
            </ul>   
            <p>Proj owner</p> 
        </div>
        <div class='proj-tile'>
            <h2>title</h2>
            <hr>
            <ul>
                <li>1/2 closest task</li>
                <li>1/2 closest task</li>   
            </ul>   
            <p>Proj owner</p> 
        </div>
        <div class='proj-tile'>
            <h2>title</h2>
            <hr>
            <ul>
                <li>1/2 closest task</li>
                <li>1/2 closest task</li>   
            </ul>   
            <p>Proj owner</p> 
        </div>
        <div class='proj-tile'>
            <h2>title</h2>
            <hr>
            <ul>
                <li>1/2 closest task</li>
                <li>1/2 closest task</li>   
            </ul>   
            <p>Proj owner</p> 
        </div>
    </section>    
{% endblock %}