.main-content{
    display: flex;
    justify-content: center;
}

#todo-list{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px;
    /* Width - 2 * padding */
    width: Calc(800px - 2 * 50px);
    padding-left: 50px;
    padding-right: 50px;
    min-height: 689px;

    background-color: var(--bg-gray3);
    border-radius: var(--small-radius);
}

#list-title{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 35px;
}

#list-title h1{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    font-size: 40px;
    color: white;
}


.add-button{
    color: var(--bg-gray2);
    font-size: 35px;
    cursor: pointer;
}
#new-task-button{
    position: absolute;
    right: 0;
    margin-right: 12.5px;
    margin-top: 12.5px;
}


.task-day{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.task-day h2{
    margin-bottom: 5px;

    color: white;
    font-size: 20px;
    text-transform: capitalize;
}

.task-day hr{
    width: 300px;
}

.single-task{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 2 * 10px);
    margin-top: 20px;
    padding: 10px;

    background-color: var(--bg-white);
    border-radius: var(--small-radius);
}

.single-task h3{
    width: Calc(100% - 65% - 112px);
    font-size: 20px;
}

.single-task p{
    width: Calc(100% - 15% - 112px);

    font-size: 13px;
    text-align: justify;
    text-justify: inter-word;
    word-break: break-all;
}

.single-task > div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

    margin-left: 10px;
}

/* Background of task control buttons */
.single-task div div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    
    padding: 2.5px;
    margin-left: 5px;
    margin-right: 5px;

    background-color: var(--bg-gray3);
    border-radius: 50%;
}

.single-task div div i {
    font-size: 15px;
    cursor: pointer;
    color: var(--bg-white);
}


.create-task{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: end;
    /* Width - padding * 2 */
    width: Calc(865px - 50px * 2);

    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;

    background-color: var(--bg-gray5);

    border-top-left-radius: var(--small-radius);
    border-top-right-radius: var(--small-radius);

    bottom: 0;
}

.create-task i{
    margin-top: 10px;
    margin-bottom: 10px;

    color: white;
    font-size: 25px;

    cursor: pointer;
}

.create-task form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-right: 10%;
    gap: 20px;
}

.color-border-form h3{
    text-align: center;
}

.create-task form input{
    background-color: var(--bg-white);
    border: 0 solid transparent;

    padding: 10px;
    font-size: 16px;

    outline: none;
    border-radius: var(--small-radius);
}

/* Styles to container with hour and date inputs */
.create-task form .date-form{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Styles for date and hour input */
.create-task form .date-form input{
    width: 42.5%;
}

/* Styles for container radio buttons in container and title */
.create-task form .color-border-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Styles for container with radio buttons */
#color-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.radio-button-container{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.radio-button-container input{
    position: absolute;
    opacity: 0.2;
    cursor: pointer;
    z-index: 5;
    width: 35px; 
    height: 35px; 
    margin: 0; 
    margin-left: -35px;
    padding: 0; 
}

.visible-radio::after{
    opacity: 1.0;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 35px; 
    height: 35px; 
    background-color: white;
    border-radius: 50%;
}

.radio-white::after{
    background-color: var(--white);
}

.radio-green::after{
    background-color: var(--green);
}

.radio-blue::after{
    background-color: var(--blue);
}

.radio-red::after{
    background-color: var(--red);
}

.radio-yellow::after{
    background-color: var(--yellow);
}

#submit-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}

#submit-container button{
    width: 100px;
    height: 30px;
    background-color: var(--bg-white);
    border: 0 none transparent;
    border-radius: 32px;
    font-size: 16px;
    cursor: pointer;
}