section{
    position: relative;

    min-height: 638px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#new-table-button-container{
    position: fixed;
    bottom: 12%;
    right: 10%;
}

#new-table-button-container i {
    font-size: 40px;
    color: white;
    cursor: pointer;
}

#grid-table-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 20px;
    column-gap: 20px;
}

.single-table{
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: Calc(400px - 10px * 2);
    width: Calc(400px - 10px * 2);
    padding: 10px;
    

    background-color: var(--bg-gray3);

    border-radius: var(--small-radius);
}

.single-table > h1{
    text-align: center;
    font-size: 40px;
    margin-left: Calc(20px + 5% );
    width: Calc(100% - 2 * (20px + 5% ));
    color: white;
    font-weight: 400;
}

.new-task-table{
    position: absolute;
    right: 5%;
    top: 7%;
}

.new-task-table i {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.task-day > h2{
    color: white;
    margin-top: 5px;
}

.task-day > hr{
    color: white;
    margin-top: 5px;
}

.single-task{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 100% - 2 x padding - 2 x border */
    width: calc(100% - 2 * 10px - 2 * 2px);
    margin-top: 15px;
    padding: 10px;

    background-color: var(--bg-white);
    border-radius: var(--small-radius);
    border-width: 1px;
    border-style: solid;
}

.quick-content-task{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.quick-content-task h3{
    width: 50%;
    margin-bottom: 2px;
    padding-right: 5px;
    font-size: 16px;
    font-weight: 400;
}

.quick-content-task p {
    width: Calc(100% - 50px - 50%);
    margin-bottom: 1px;
    font-size: 16px;
    font-weight: 400;
}

.quick-content-task > div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

    margin-left: 10px;
}

.quick-content-task div div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    
    padding: 2.5px;
    margin-left: 5px;
    margin-right: 5px;

    background-color: var(--bg-gray3);
    border-radius: 50%;
}

.single-task div i {
    font-size: 15px;
    cursor: pointer;
    color: var(--bg-white);
}

.extended-content-task{
    display: none;
    flex-direction: row;
    width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid black;
}

.extended-content-task p {
    width: 80%;
    margin-top: 10px;
    min-height: 20px;
    font-size: 16px;

    text-align: justify;
    text-justify: inter-word;
    word-break: break-all;
}

.control-buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 10px;    
}

.control-buttons div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    
    padding: 2.5px;
    margin-left: 5px;
    margin-right: 5px;

    background-color: var(--bg-gray3);
    border-radius: 50%;
}



/* Blur for the whole screen were new-project-form is */
#new-project-container{
    position: fixed;
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0%;

    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(2px);

    z-index: 100;
}

#new-project-container i{
    color: white;
    margin-top: 25px;
    margin-left: Calc(100% - 25px - 40px);
    margin-right: 25px;

    font-size: 40px;
    cursor: pointer;
}

#new-project-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: Calc(700px - 1 * 2px);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 100px;
    /* Object centered */
    margin-left: calc(50% - (700px / 2));

    background-color: var(--bg-gray4);
    border: 1px solid white;
    border-radius: var(--small-radius);
}

#new-project-form h3{
    text-align: center;
    font-size: 40px;
    color: black;
    font-weight: 500;
}

#new-project-form hr{
    width: 40%;
    border-color: black;
    border-width: 1px;

    margin-top: 5px;
    margin-bottom: 20px;
}

#new-project-form input{
    width: 80%;
    height: 30px;
    background-color: var(--bg-white);
    border: 0 solid transparent;

    padding: 10px;
    font-size: 16px;

    outline: none;
    border-radius: var(--small-radius);
}

#new-project-form button{
    width: 100px;
    height: 30px;
    margin-top: 45px;

    background-color: var(--bg-white);
    border: 0 none transparent;
    border-radius: 32px;

    font-size: 16px;
    cursor: pointer;
}


/* Styles for form to create a new task */
.create-task{
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: end;
    /* Width - padding * 2 */
    width: Calc(865px - 50px * 2);

    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;

    background-color: var(--bg-gray5);

    border-top-left-radius: var(--small-radius);
    border-top-right-radius: var(--small-radius);

    bottom: 0;
    left: 50%; 
    transform: translateX(-50%); 
}

.create-task h1{
    color: white;
    font-size: 20px;
    text-align: center;
}

.create-task i{
    margin-top: 10px;
    margin-bottom: 10px;

    color: white;
    font-size: 25px;

    cursor: pointer;
}

.create-task form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-right: 10%;
    gap: 20px;
}

.color-border-form h3{
    text-align: center;
}

.create-task form input{
    background-color: var(--bg-white);
    border: 0 solid transparent;

    padding: 10px;
    font-size: 16px;

    outline: none;
    border-radius: var(--small-radius);
}

/* Styles to container with hour and date inputs */
.create-task form .date-form{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Styles for date and hour input */
.create-task form .date-form input{
    width: 42.5%;
}

/* Styles for container radio buttons in container and title */
.create-task form .color-border-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Styles for container with radio buttons */
#color-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.radio-button-container{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.radio-button-container input{
    position: absolute;
    opacity: 0.2;
    cursor: pointer;
    z-index: 5;
    width: 35px; 
    height: 35px; 
    margin: 0; 
    margin-left: -35px;
    padding: 0; 
}

.visible-radio::after{
    opacity: 1.0;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 35px; 
    height: 35px; 
    background-color: white;
    border-radius: 50%;
}

.radio-white::after{
    background-color: var(--white);
}

.radio-green::after{
    background-color: var(--green);
}

.radio-blue::after{
    background-color: var(--blue);
}

.radio-red::after{
    background-color: var(--red);
}

.radio-yellow::after{
    background-color: var(--yellow);
}

#submit-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}

#submit-container button{
    width: 100px;
    height: 30px;
    background-color: var(--bg-white);
    border: 0 none transparent;
    border-radius: 32px;
    font-size: 16px;
    cursor: pointer;
}


/* Settings styles */
#settings-container{
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
}

#settings-container i {
    color: white;
    font-size: 40px;
    cursor: pointer;
}

#settings{
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0%;

    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(2px);

    z-index: 100;
}

#settings > i{
    position: absolute;
    color: white;
    top: 10%;
    margin-left: Calc(100% - 25px - 40px);
    margin-right: 25px;

    font-size: 40px;
    cursor: pointer;
}

#settings-tile{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200px;
    width: 620px;

    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;

    background-color: var(--bg-white);

    border: 1px solid black;
    border-radius: var(--small-radius);
}

#settings-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
}

#settings-content ul{
    width: Calc(33.3% - 10px);
    margin-right: 10px;
}

#settings-content p{
    font-size: 20px;
}

#settings-content li{
    font-size: 16px;
    margin-left: 30px;
}

#settings-content input{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
    outline: none;
    border-radius: var(--small-radius);
}

#settings-content button{
    margin-left: 45px;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
    outline: none;

    background-color: var(--bg-light-gray);
    border-color: transparent;
    border-radius: var(--small-radius);

    cursor: pointer;
}

#request-status-info{
    text-align: center;
    margin-left: -15%;
    font-size: 16px !important;
}

@media (max-width: 1350px){
    #grid-table-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 900px){
    #grid-table-container{
        grid-template-columns: repeat(1, 1fr);
    }
}