section{
    position: relative;

    min-height: 638px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#grid-proj-container{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    

    row-gap: 20px;
    column-gap: 20px;
}

.proj-tile{
    display: flex;
    flex-direction: column;
    /* 200px - padding */
    height: Calc(200px - 15px * 2);
    /* 300px - padding */
    width: Calc(300px - 10px * 2);

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;

    background-color: var(--bg-gray4);

    border-radius: var(--small-radius);
}

.proj-tile h2{
    color: white;
    font-size: 24px;
    width: 95%;
    text-align: center;
}

.proj-tile hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

.proj-tile ul{
    width: 85%;
    margin-left: 15%;
    height: 85px;
}

.proj-tile ul li{
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
}

.proj-tile p{
    color: white;
    font-size: 16px;
    text-align: center;
}

#buttons-container{
    position: absolute;
    display: flex;
    width: 90%;
    justify-content: space-between;
    bottom: 5%;
}

#buttons-container i {
    font-size: 40px;
    color: white;
    cursor: pointer;
}

/* Container where its notification button and number of notifications */
#notification-container{
    position: relative;
}
#notification-container p {
    position: absolute;
    right: 0;
    left: 0;
    top: -20px;

    text-align: center;

    color: white;
}

/* Blur for the whole screen were new-project-form is */
#new-project-container{
    position: absolute;
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0;

    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(2px);

    z-index: 100;
}

#new-project-container i{
    color: white;
    margin-top: 25px;
    margin-left: Calc(100% - 25px - 40px);
    margin-right: 25px;

    font-size: 40px;
    cursor: pointer;
}

#new-project-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: Calc(700px - 1 * 2px);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 100px;
    /* Object centered */
    margin-left: calc(50% - (700px / 2));

    background-color: var(--bg-gray4);
    border: 1px solid white;
    border-radius: var(--small-radius);
}

#new-project-form h3{
    text-align: center;
    font-size: 40px;
    color: black;
    font-weight: 500;
}

#new-project-form hr{
    width: 40%;
    border-color: black;
    border-width: 1px;

    margin-top: 5px;
    margin-bottom: 20px;
}

#new-project-form input{
    width: 80%;
    height: 30px;
    background-color: var(--bg-white);
    border: 0 solid transparent;

    padding: 10px;
    font-size: 16px;

    outline: none;
    border-radius: var(--small-radius);
}

#new-project-form button{
    width: 100px;
    height: 30px;
    margin-top: 45px;

    background-color: var(--bg-white);
    border: 0 none transparent;
    border-radius: 32px;

    font-size: 16px;
    cursor: pointer;
}

@media (max-width: 990px){
    section{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 660px){
    section{
        grid-template-columns: repeat(1, 1fr);
    }
}