{% extends 'base.html' %}
{% load static %}

{% block additional_styles %}
    <link rel="stylesheet" href="{% static 'css/mytodo.css' %}">
{% endblock %}
{% block additional_scripts %}
    <script src="{% static 'js/mytodo.js' %}" defer></script>
{% endblock %}


{% block content %}
    {% include 'navbar.html' %}
    <section class='main-content'>
        <div id='todo-list'>
            <div id='list-title'>
                <h1>mytodo</h1>
                <hr/>
            </div>
            <div id='new-task-button'>
                <i class="bi bi-plus-circle-fill add-button" onclick="showFlex('new-task')"></i>
            </div>

            <div class='task-day'>
                <h2>Date</h2>
                <hr>
                <div class='single-task'>
                    <!-- Title & end hour of task -->
                    <h3>Title</h3>
                    <!-- Description of task -->
                    <p>Description</p>
                    <!-- Control buttons of task -->
                    <div>
                        <div>
                            <i class="bi bi-check"></i>
                        </div>

                        <div>
                            <i class="bi bi-trash"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id='new-task' class='create-task'>
            <i class="bi bi-x-lg close-button"></i>
            <form method='POST'>
                {% csrf_token %}
                {{ form.title }}
                {{ form.description }}

                <div class='date-form'>
                    {{ form.date }}
                    {{ form.hour }}
                </div>  

                <div class='color-border-form'>
                    <h3>Color border</h3>
                    <div id='color-container'>
                        {% for choice in form.color %}
                            <div class='radio-button-container'>
                                {{ choice.tag }}<span class="visible-radio"></span>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div id='submit-container'>
                    <button type='submit'>Send</button>
                </div>
            </form>    
        </div>
    </section>    
{% endblock %}