<nav>
    <!-- home page-->
    <div>
        <a href='{% url "home" %}'>todoall</a>
    </div>

    <!-- Program functions -->
    <div>
        <a href='#'>mytodo</a>
        <a href='#'>todoproject</a>
    </div>

    <!-- User managment -->
    <div>
        {% if not user.is_authenticated %}
            <a href='{% url "login" %}'>login</a>
            <a href='{% url "register" %}'>register</a>
        {% else %}
            <a href='{% url "logout" %}'>logout</a>
        {% endif %}
    </div>
</nav>    